@model double;

    <h2>Szures atlag alapjan</h2>

    <form method="post">
    <label>Irj be egy atlagot, es az afolotti tanulokat kiirom:</label><input type="number" step="0.1" asp-for="@Model"/>
    <button type="submit" value="Mehet"/>
    </form>
    
    <table>
        
    </table>